@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 177, 165, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fixed-size {
  width: 25px !important;
  height: 25px !important;
}
.custom-select {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.custom-select option {
  color: black;
  background-color: #ffffff;
}
input {
  outline: none;
  border: none;
  color: black;
  background-color: #ffffff;
}
input::placeholder {
  color: #c1bdbd;
}
